@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



body {
  font-family: "Chakra Petch", sans-serif;
}

/* Page Enter Animation */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
  animation: pageFade 0.7s ease-out forwards;
}


@keyframes pageFade {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Prediction Fade Animation */
@keyframes predictFade {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-predictFade {
  animation: predictFade 0.6s ease-out forwards;
}

/* Header slide animation */
@keyframes slideDown {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown 0.6s ease-out both;
}